@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 94,74,227
    }

 /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400
  }

    img {
        @apply object-contain rounded-lg
    }

    textarea:focus, input:focus{
        outline: none;
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h3 {
        @apply text-lg
    }
}


@layer utilities {
    .c-field {
        label {
            @apply block  text-neutral-500;

            & + * {
                @apply font-bold
            }
        }

    }
}

@layer components {
    .c-sidebar {
        @apply bg-primary rounded-e-2xl px-3 pl-1 py-4 w-[55px] transition-all overflow-hidden fixed z-20;

            &:hover {
            @apply  w-56;

        }
    }

    .c-sidebar-item {
        @apply p-3 flex items-center cursor-pointer whitespace-nowrap gap-6 hover:bg-indigo-400 rounded-lg
    }

    .c-layout {
        @apply min-h-screen flex flex-col;

        .c-layout-content {
            @apply gap-4 grow md:flex;
        }

        .c-layout-child {
            @apply grow md:pl-12;

            & > * {
                @apply h-full
            }
        }

    }
}